<div class="container">
    <div class="d-flex justify-content-center mt-4">
        <h1>Yazıyı Güncelle</h1>
    </div>
    <form [formGroup]="form" style="min-width: 350px;">
        <div class="container">
            <div class="row">
                <mat-form-field>
                    <mat-label>Blog Başlığı</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Blog İçeriği</mat-label>
                    <textarea matInput formControlName="body" cols="40" rows="10"></textarea>
                </mat-form-field>
            </div>
            <div>
                <button (click)="onSubmit()" [disabled]="!form.valid" mat-raised-button color="primary">Güncelle</button>
            </div>
        </div>
    </form>
</div>