<div class="p-4">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <h3 class="m-0">
                <span>
                    {{isUpdate ? 'Yazıyı Güncelle':'Yazıyı Gör'}}
                </span>
            </h3>
        </div>
        
        <button (click)="close()" mat-button style="font-size: 24px;">
            x
        </button>
        
    </div>
    <mat-divider></mat-divider>
    
    <div *ngIf="!isUpdate">
        <div class="row mb-3">
            <div class="col-md-6" style="padding-left: 0px;">
                <img class="w-100" src="assets/images/image{{imageUrl}}.jpg">
            </div>
            <div class="col-md-6">
                <h2>{{title}}</h2>
                <p>{{body}}</p>
            </div>
        </div>
        <div style="background-color: lightgray; margin-bottom: 20px; padding: 20px;" 
        class="row" *ngFor="let comment of commentData">
            <div class="col-md-2">
                <img style="width: 35px; height: 35px; border-radius: 50%;" src="assets/images/profile/profile{{comment.userId}}.jpg">
            </div>
            <div class="col-md-10">
                <h3>{{comment.name}}</h3>
                <p>{{comment.body}}</p>
            </div>
        </div>
    </div>
    
    <div *ngIf="isUpdate">
    Düzenle
    </div>
</div>