<div class="container">
    <div class="row my-3" *ngIf="blogObj != null">
        <div class="col-md-6" style="padding-left: 0px;">
            <img class="w-100" src="assets/images/image{{blogObj.imageId}}.jpg">
        </div>
        <div class="col-md-6">
            <h2>{{blogObj.title}}</h2>
            <p>{{blogObj.body}}</p>
        </div>
    </div>

    <div style="background-color: lightgray; margin-bottom: 20px; padding: 20px;" class="row"
            *ngFor="let comment of commentData">
            <div class="col-md-1">
                <img style="width: 35px; height: 35px; border-radius: 50%;"
                    src="assets/images/profile/profile{{comment.userId}}.jpg">
            </div>
            <div class="col-md-11">
                <h3>{{comment.name}}</h3>
                <p>{{comment.body}}</p>
            </div>
        </div>
</div>