<div class="container">
    <div class="row">
        <div *ngFor="let post of blogData" class="col-md-3 col-sm-6 mt-3">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title style="
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;    
                    ">{{post.title}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/images/image{{post.imageId}}.jpg">
                <mat-card-content>
                    <p style="
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;    
                ">
                        {{post.body}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button style="margin-right: 6px;" mat-raised-button color="primary">Görüntüle</button>
                    <button mat-raised-button color="accent">Düzenle</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>